#quitButton {
    -fx-image: url(../img/x_white.png);
}
#sendMessageButton{
    -fx-image: url(../img/sendmessage2.png);
}

#addUserButton {
    -fx-image: url(../img/plus.png);
}

#addUserTextField {
    -fx-background-color: White;
}

#top-tool-pane {
    -fx-background-color: black;
}

#main-window {
    -fx-background-color: white;
}

.header-label {
    -fx-font-family: Consolas;
    -fx-font-size: 22;
    -fx-text-fill: black;
}

.button-action {
    -fx-border-color: Black;
    -fx-border-radius: 6;
    -fx-border-width: 2;
    -fx-text-fill: Black;
    -fx-background-color: transparent;
    -fx-font-weight: bold;
}

.input-text-field {
    -fx-border-color: Black;
    -fx-border-radius: 6;
    /*-fx-text-fill: Black;*/
    -fx-background-color: transparent;
}

.text-label {
}

.error-label {
    -fx-font-size: 10;
    -fx-text-fill: red;
    -fx-font-weight: bold;
    -fx-alignment: center;
}

.scroll-pane {
    -fx-focus-color: transparent;
    -fx-background-color: -fx-faint-focus-color, -fx-focus-color, -fx-inner-border, -fx-body-color;
    -fx-background-insets: -2, -0.3, 1, 2;
    -fx-background-radius: 7, 6, 4, 3;
    -fx-text-alignment: center;
    -fx-border-width: 0;
}


/*.scroll-pane .label {*/
/*    -fx-font-size: 15;*/
/*}*/

/*.scroll-pane .label {*/
/*    -fx-font-size: 15;*/

/*}*/

.chat-box:hover {
    -fx-background-color: #e5a1a1;
}

.chat-box {
    -fx-background-color: #ffffff;
}

.chat-box:chosen {
    -fx-background-color: #9aa1b6;
}

.message-h-box-right {
    -fx-background-radius: 10;
    -fx-background-color: skyblue;
}

.message-h-box-left {
    -fx-background-radius: 10;
    -fx-background-color: #ffcccb;
}

.label-content {
    -fx-font-size: 14;
}

.label-date {
    -fx-font-size: 12;
    -fx-font-weight: bold;
}

.user-info-h-box {
    -fx-background-color: #D3D3D3;
}

.bottom-field-anchor-pane {
    -fx-background-color: #D3D3D3;
}

.chat-h-box {
    -fx-background-color: #D3D3D3;
}

.add-user-pane {
    -fx-background-color: grey;
}

.avatar {
    -fx-image: url(../img/avatar.png);
}
#messagesGridPane{
    -fx-background-color: transparent;
}